<h1>New Transaction</h1>
<%= form_for @transaction do |f| %>
  transaction date <%= select_date Date.today, prefix: :transaction_date %><br />
  amount: <%= f.number_field :amount, step: "0.01" %><br />
  description: <%= f.text_area :description %><br />

  <%= fields_for :identifier do |i| %>
    member email: <%= i.text_field :member_email %><br />
  <% end %>
  <%= f.submit %>
<% end %>

<div style="margin-top: 30px;">
  <%= link_to "Home", members_path %>
</div>  