<div>
  <% if (Rails.env.production? || Rails.env.development?) && user_signed_in? %>	
    <%= button_to 'logout', destroy_user_session_path, method: :delete %>
  <% end %>
</div>

<h1>Members</h1>
<table>
  <tr>
    <th>name</th>
    <th>balance (USD)</th>
  </tr>
  <% @members.each do |member| %>
    <tr>
      <td> <%=member[:name]%> </td>
      <td> <%=member[:balance]%> </td>
      <td> <%= link_to("edit member", edit_member_path(member)) %> </td>
    </tr>
  <% end %>
</table>	

<div style="margin-top: 30px;">
  <%= link_to("NEW MEMBER", action: "new", controller: "members") %> 
  <%= link_to("NEW TRANSACTION", action: "new", controller: "transactions") %>  
</div>
