<h1>Create a New Member</h1>
<%= form_for @member do |f| %>
  name: <%= f.text_field :name %><br />
  email: <%= f.text_field :email %><br />
  <%= f.submit %>
<% end %>

<div style="margin-top: 30px;">
  <%= link_to "Home", members_path %>
</div> 